.default-button {
    background: $blue;
    color: $dark-blue;
    padding: $m-size;
    margin: 0 $m-size 0 0;
}


.delete-button {
    background: $red;
    color: $off-white;
    padding: $m-size;
    margin: 0 $m-size 0 0;
}