// colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #45bed3;
$light-blue: #464b5e;
$off-white: #dee2f1;
$purple: #8357c5;
$red: #c23c3c;
$desktop-breakpoint: 45rem;
// spacing
$m-size: 1.6rem;
// m-size

$l-size: 3.2rem;

$xl-size: 4.8rem;
$s-size: 1.2rem;